data-portraits/instances/*
data-portraits/radis.log
data-portraits/dump.rdb
data-portraits/portraits-wikipedia
data-portraits/RedisBloom
data-portraits/redis-stable/*
data-portraits/.vscode
data-portraits/src/dataportraits/__pycache__
data-portraits/redis-stable.tar.gz
data-portraits/lyrics
data-portraits/bloom_filters

lm-evaluation-harness


redis.log
redis.pid
dump.rdb

transform.py

__pycache__

slurm-*.out
.vscode
res

validation.py 

*.log

instruct-eval/

eval/FastChat_new/fastchat/llm_judge/data/